.subscribe-box-1 {
    position: relative;
    width: 100%;
    display: block;
}
.subscribe-box-1 input {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-color: #ccc;
}
.form-control {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.75rem;
    font-size: .8rem;
    line-height: 1.25;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.subscribe-box-1 .btn.subscribe-1 {
    position: absolute;
    top: -15px;
    right: 0;
    z-index: 1;
}
.subscribe-box-1.dark p {
    color: #f9f9f9;
}