<div class="section background-white z-bigger-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 transform-y-120 transform-on-mob">	
                <div class="grid-wraper background-dark rounded-2 drop-shadow over-hide">	
                    <div class="grid-box float-inline half height-50-block background-image-cover" style="background-image: url('https://ivang-design.com/funky-theme/img/content-3.jpg')">		
                    </div>	
                    <div class="grid-box float-inline half height-50-block">
                        <div class="section-center-wrap">	
                            <div class="in-grid-wrap w-80 mg-auto">
                                <div class="main-title mb-0 on-dark text-center">
                                    <div class="main-subtitle-top mb-4">Unique & responsive</div>
                                    <h4>Moving boundaries</h4>
                                    <div class="main-subtitle-bottom smaller mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</div>	
                                </div>
                            </div>
                        </div>
                    </div>		
                </div>	
            </div>
        </div>	
    </div>		
</div>
