<div class="section full-height-2 over-hide">
    <div class="parallax" style="background-image: url('/assets/img/background-image.jpg')"></div>
    <div class="grey-fade-over"></div>	
    <div class="hero-center-wrap move-top-on-mob z-bigger">
        <div class="container parallax-fade-top">
            <div class="row">
                <div class="col-lg-7">	
                    <div class="quote-box-2 text-right">	
                        <h4 class="color-white">now that we can do anything, what we will do?</h4>
                        <p class="mt-5">bill buxton</p>
                    </div>
                </div>
                <div class="col-lg-5">	
                    <button data-toggle="modal" data-target="#Modal-video" type="button" class="video-button on-dark float-right float-lg-left ml-4 mt-4"><i class="fa fa-play"></i></button>
                </div>
            </div>	
        </div>
    </div>
</div>