<!-- <div class="section padding-top-bottom background-white over-hide">
    <div class="container">	
        <div class="row justify-content-center">
            <div class="col-md-8">	
                <div class="main-title text-center">
                    <div class="main-subtitle-top mb-4">our team</div>
                    <h3>team of creatives.</h3>
                    <div class="main-subtitle-bottom mt-3">We're a close team of creatives, designers & developers who work together to create beautiful, engaging digital experiences.</div>	
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">											 
                <div class="team-box-2 rounded-circle text-center over-hide">	
                    <img  src="https://ivang-design.com/funky-theme/img/t1.jpg" alt="" />	
                    <div class="team-mask-1 rounded-circle"></div>
                    <h6>Marco Kulis</h6>	
                    <p>app & media</p>
                    <ul class="team-social">
                        <li class="twitter">
                            <a href="javascript:;">Tw</a>
                        </li>
                        <li class="google">
                            <a href="javascript:;">G+</a>
                        </li>
                    </ul>	
                </div>	
            </div>
            <div class="col-md-4 mt-4 mt-md-0">										 
                <div class="team-box-2 rounded-circle text-center over-hide">	
                    <img  src="https://ivang-design.com/funky-theme/img/t2.jpg" alt="" />
                    <div class="team-mask-1 rounded-circle"></div>
                    <h6>Anna Furius</h6>		
                    <p>identity building</p>
                    <ul class="team-social">
                        <li class="facebook">
                            <a href="javascript:;">Fb</a>
                        </li>
                        <li class="google">
                            <a href="javascript:;">G+</a>
                        </li>
                        <li class="vimeo">
                            <a href="javascript:;">Vm</a>
                        </li>
                    </ul>		
                </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">										 
                <div class="team-box-2 rounded-circle text-center over-hide">	
                    <img  src="https://ivang-design.com/funky-theme/img/t3.jpg" alt="" />
                    <div class="team-mask-1 rounded-circle"></div>
                    <h6>Alex Andrews</h6>	
                    <p>design process</p>	
                    <ul class="team-social">
                        <li class="twitter">
                            <a href="javascript:;">Tw</a>
                        </li>
                        <li class="vimeo">
                            <a href="javascript:;">Vm</a>
                        </li>
                    </ul>	
                </div>	
            </div>
        </div>
    </div>		
</div> -->
