<div class="section padding-top-bottom background-white over-hide">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">	
                <div class="main-title text-left">
                    <div class="main-subtitle-top mb-4">latest news</div>
                    <h4>Add your creation to<br>our collections.</h4>
                    <div class="main-subtitle-bottom smaller mt-3">you inspired me</div>	
                </div>
            </div>
            <div class="col-xl-8">
                <div class="blog-box-2">
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>May 4, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>We want to share with you our mood after selection.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>May 1, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Sleep, code, eat, travel. Repeat.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>April 28, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Don’t get lost quoting your next projects.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>April 23, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Don´t give up, keep on focus.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>April 15, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Moments from a life. Day of photography.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 26, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>The golden rule of modern webdesign. Moments from a life.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 17, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Design is the method of putting form and content together.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 13, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Design is so simple, that's why it is so complicated.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 05, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>How you look at it is pretty much how you'll see it.</h5></a>
                    </div>
                    <div class="post-link-box mb-2" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 04, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>Don’t get lost quoting your next projects.</h5></a>
                    </div>
                    <div class="post-link-box" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <p>March 03, 2017</p>
                        <a href="javascript:;" class="tipped" data-title="by <em>Marco Kulis</em>" data-tipper-options='{"direction":"top","follow":"true","margin":30}'><h5>The golden rule of modern webdesign. Moments from a life.</h5></a>
                    </div>
                </div>
            </div>
        </div>	
    </div>		
</div>
