<div class="section padding-top over-hide">
    <div class="container parallax-fade-top">
        <div class="row">
            <div class="col-md-12">	
                <div class="main-title text-center">
                    <h2>get in touch</h2>
                    <div class="main-subtitle-bottom mt-3">let's talk about your project</div>	
                </div>	
            </div>
            <div class="clear"></div>
        </div>		
    </div>	
</div>

<div class="section background-white padding-bottom over-hide z-bigger-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">	
                <div class="subscribe-box-1">
                    <input type="text" value="" placeholder="Your Name *" class="form-control" />
                </div>		
            </div>
            <div class="col-md-6 mt-4 mt-md-0">	
                <div class="subscribe-box-1">
                    <input type="text" value="" placeholder="Email *" class="form-control" />
                </div>		
            </div>
            <div class="col-md-12 mt-4">	
                <div class="subscribe-box-1">
                    <textarea name="message"  placeholder="Tell Us Everything *" class="for-textarea form-control" ></textarea>
                </div>		
            </div>
            <div class="col-md-12 mt-5 text-center">
                <button class="btn btn-primary btn-round btn-long" type="button">submit</button>		
            </div>
        </div>		
    </div>	
</div>

