.main-subtitle-bottom {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #afafaf;
    font-weight: 500;
    letter-spacing: 1px;
}
.subscribe-box-1 {
    position: relative;
    width: 100%;
    display: block;
}
.form-control {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.for-textarea {
    min-height: 180px;
}
.btn-round {
    border-radius: 30px !important;
    padding: 0.8rem 2rem !important;
}
.form-control:focus{
    border-color: #6dc234 !important;
    border-bottom: 1px solid #6dc234;
}
.services-box-1 i {
    font-size: 40px;
    color: #6dc234;
}