.services-box-3 {
    position: relative;
    width: 100%;
}
.services-box-3.bigger-icon h5 {
    padding-left: 70px;
}
.services-box-3.bigger-icon i {
    font-size: 42px;
    position: absolute;
    left: 0;
    top: 0;
    color: #6dc234;
    display: inline-block;
    padding-right: 20px;
    vertical-align: text-bottom;
}
