<div class="section padding-top-bottom-small background-dark over-hide">
    <div class="container">
        <div class="row">
            <div class="col-md-3">	
                <div class="counter-wrap ver-2 dark">
                    <p><span class="counter-numb small-2">819</span></p>
                    <h6>awards</h6>
                </div>		
            </div>
            <div class="col-md-3 mt-4 mt-md-0">	
                <div class="counter-wrap ver-2 dark">
                    <p><span class="counter-numb small-2">768</span></p>
                    <h6>projects</h6>
                </div>		
            </div>
            <div class="col-md-3 mt-4 mt-md-0">	
                <div class="counter-wrap ver-2 dark">
                    <p><span class="counter-numb small-2">307</span></p>
                    <h6>coffees</h6>
                </div>		
            </div>
            <div class="col-md-3 mt-4 mt-md-0">	
                <div class="counter-wrap ver-2 dark">
                    <p><span class="counter-numb small-2">921</span></p>
                    <h6>hours</h6>
                </div>		
            </div>
        </div>	
    </div>		
</div>
