.call-box-3 {
    position: relative;
    width: 100%;
}
.call-box-3.dark p {
    color: #bbbbbb;
}
.btn-primary.btn-simple {
    color: #6dc234 !important;
    border: 2px solid #6dc234 !important;
    background-color: transparent !important;
    border-radius: 30px !important;
    padding: 0.8rem 2rem !important;
}
.btn-primary.btn-simple:hover {
    color: #fff !important;
    background-color: #6dc234 !important;
}