.services-box-2 {
    position: relative;
    width: 100%;
}
.services-box-2 i {
    font-size: 48px;
    color: #6dc234;
}
.services-box-2.dark p {
    color: #dcdcdc;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}