<div class="section padding-top-bottom background-grey over-hide">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">	
                <div class="main-title text-center">
                    <div class="main-subtitle-top mb-4">our team</div>
                    <h3>Team Of Creatives.</h3>
                    <div class="main-subtitle-bottom mt-3">only the best</div>	
                </div>
            </div>
            <div class="clear"></div>
            <div class="team-slider-wrap">
                <div id="owl-team-1" class="owl-carousel owl-theme" style="opacity: 1; display: block;">											 
                    <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5"> 
                            <img src="https://ivang-design.com/funky-theme/img/t4.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Marco Kulis</h6>	
                            <p class="mb-4">app & media</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.
                            <ul class="team-social mt-4">
                                <li class="twitter">
                                    <a href="#">Tw</a>
                                </li>
                                <li class="google">
                                    <a href="#">G+</a>
                                </li>
                            </ul>	
                        </div>	
                    </div>											 
                    <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5">	
                            <img  src="https://ivang-design.com/funky-theme/img/t2.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Anna Furius</h6>		
                            <p class="mb-4">identity building</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.
                            <ul class="team-social mt-4">
                                <li class="facebook">
                                    <a href="#">Fb</a>
                                </li>
                                <li class="google">
                                    <a href="#">G+</a>
                                </li>
                                <li class="vimeo">
                                    <a href="#">Vm</a>
                                </li>
                            </ul>		
                        </div>	
                    </div>											 
                    <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5">	
                            <img  src="https://ivang-design.com/funky-theme/img/t3.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Alex Andrews</h6>	
                            <p class="mb-4">design process</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.	
                            <ul class="team-social mt-4">
                                <li class="twitter">
                                    <a href="#">Tw</a>
                                </li>
                                <li class="vimeo">
                                    <a href="#">Vm</a>
                                </li>
                            </ul>	
                        </div>	
                    </div>			
                    <!-- <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5"> 
                            <img src="https://ivang-design.com/funky-theme/img/t4.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Marco Kulis</h6>	
                            <p class="mb-4">app & media</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.
                            <ul class="team-social mt-4">
                                <li class="twitter">
                                    <a href="#">Tw</a>
                                </li>
                                <li class="google">
                                    <a href="#">G+</a>
                                </li>
                            </ul>	
                        </div>	
                    </div>											 
                    <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5">	
                            <img  src="https://ivang-design.com/funky-theme/img/t2.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Anna Furius</h6>		
                            <p class="mb-4">identity building</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.
                            <ul class="team-social mt-4">
                                <li class="facebook">
                                    <a href="#">Fb</a>
                                </li>
                                <li class="google">
                                    <a href="#">G+</a>
                                </li>
                                <li class="vimeo">
                                    <a href="#">Vm</a>
                                </li>
                            </ul>		
                        </div>	
                    </div>											  -->
                    <!-- <div class="item">											 
                        <div class="team-box-1 all-padding background-white drop-shadow text-center image-over-box mt-5">	
                            <img  src="https://ivang-design.com/funky-theme/img/t3.jpg" alt="" class="img-raised" />
                            <h6 class="mb-1">Alex Andrews</h6>	
                            <p class="mb-4">design process</p>
                            Design must reflect the practical in business but above all... good design must primarily serve people.	
                            <ul class="team-social mt-4">
                                <li class="twitter">
                                    <a href="#">Tw</a>
                                </li>
                                <li class="vimeo">
                                    <a href="#">Vm</a>
                                </li>
                            </ul>	
                        </div>	
                    </div>							 -->
                </div>
            </div>
        </div>	
    </div>		
</div>