.grid-wraper.with-margin {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
}
.grid-box.quarter.with-margin {
    margin: 15px;
    width: calc(25% - 30px);
}
.grid-box.float-inline {
    float: left;
    display: inline-block;
    overflow: hidden;
}
.blog-box-1 {
    position: relative;
    width: 100%;
    display: block;
    padding: 3.5rem;
    border-radius: 0.35rem;
}
.blog-box-1.blog-home {
    padding: 0;
    padding-bottom: 2.5rem;
}
.blog-box-1 img.blog-home-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    margin-right: 0;
}
.blog-box-1.blog-home .padding-in {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.blog-box-1 a {
    text-decoration: none;
}
.blog-box-1 a h5 {
    color: #212121;
    transition: all 200ms linear;
}
.separator-wrap {
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.separator {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 10%;
}
.separator-line {
    position: relative;
    height: 1px;
    display: block;
    top: 1px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
}
.author-wrap {
    position: relative;
    width: 100%;
    display: block;
}
.blog-box-1 img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
.author-wrap p {
    display: inline-block;
    font-size: 0.84rem;
}
.author-wrap p a {
    color: #888;
    transition: all 200ms linear;
    text-decoration: none;
}
.author-wrap p a:hover{
    color: #6dc234;
}
.author-wrap p a:hover{
    color: #6dc234;
}
.project-nav-wrap {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://ivang-design.com/funky-theme/img/line-nav.png');
    background-size: 35px 120px;
}
.project-nav-wrap .left-nav {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 180px;
    height: 120px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    font-size: 50px;
    line-height: 80px;
    vertical-align: text-top;
    color: #999;
    transition: all 250ms linear;
}
.project-nav-wrap .right-nav {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    width: 180px;
    height: 120px;
    font-size: 50px;
    line-height: 160px;
    vertical-align: text-bottom;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: #999;
    transition: all 250ms linear;
}
.project-nav-wrap .left-nav .text-on-hover {
    text-align: right;
    padding-right: 50px;
    right: 0;
    bottom: 130px;
}
.project-nav-wrap .right-nav .text-on-hover {
    text-align: left;
    padding-left: 50px;
    left: 0;
    top: 130px;
}
.project-nav-wrap .left-nav .text-on-hover, .project-nav-wrap .right-nav .text-on-hover {
    position: absolute;
    z-index: 2;
    width: 100%;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    transition: all 250ms linear;
}
.project-nav-wrap .left-nav .text-on-hover:before {
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 15px;
    content: "\f104";
}
.project-nav-wrap .right-nav .text-on-hover:after {
    font-family: FontAwesome;
    padding-left: 10px;
    font-size: 15px;
    content: "\f105";
}
.project-nav-wrap .left-nav:hover, .project-nav-wrap .right-nav:hover {
    color: #000;
}
.project-nav-wrap .left-nav:hover .text-on-hover {
    opacity: 1;
    bottom: 110px;
}
.project-nav-wrap .right-nav:hover .text-on-hover {
    opacity: 1;
    top: 110px;
}