<div class="section padding-top background-grey over-hide">
    <div class="container-fluid">
        <div class="row">
            <div class="grid-wraper with-margin clearfix">			
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">						 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/1.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Don’t get lost.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">	
                                <img  src="https://ivang-design.com/funky-theme/img/t1.jpg" alt="" />
                                <p> by <a href="#">Anna Furius</a></p>
                            </div>
                        </div>	
                    </div>	
                </div>	
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">						 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/3.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Modern webdesign.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">
                                <img  src="https://ivang-design.com/funky-theme/img/t4.jpg" alt="" />
                                <p> by <a href="#">Marco Kulis</a></p>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">					 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/4.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Mood after selection.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">	
                                <img  src="https://ivang-design.com/funky-theme/img/t1.jpg" alt="" />
                                <p> by <a href="#">Anna Furius</a></p>
                            </div>
                        </div>	
                    </div>	
                </div>		
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">						 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/6.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Don’t get lost.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">	
                                <img  src="https://ivang-design.com/funky-theme/img/t2.jpg" alt="" />
                                <p> by <a href="#">Anna Furius</a></p>
                            </div>
                        </div>	
                    </div>	
                </div>	
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">						 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/7.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Modern webdesign.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">
                                <img  src="https://ivang-design.com/funky-theme/img/t4.jpg" alt="" />
                                <p> by <a href="#">Marco Kulis</a></p>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">					 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/8.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Mood after selection.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">	
                                <img  src="https://ivang-design.com/funky-theme/img/t1.jpg" alt="" />
                                <p> by <a href="#">Anna Furius</a></p>
                            </div>
                        </div>	
                    </div>	
                </div>	
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">						 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/9.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Modern webdesign.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">
                                <img  src="https://ivang-design.com/funky-theme/img/t3.jpg" alt="" />
                                <p> by <a href="#">Marco Kulis</a></p>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="grid-box float-inline quarter with-margin drop-shadow rounded">					 
                    <div class="blog-box-1 blog-home background-white over-hide">
                        <img src="https://ivang-design.com/funky-theme/img/blog/10.jpg" alt="" class="blog-home-img"/>
                        <div class="padding-in">
                            <a href="post.html"><h5 class="pt-4 mt-3">Mood after selection.</h5></a>
                            <p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
                            <a href="post.html" class="btn-link btn-primary pl-0 mt-4">read more</a>
                            <div class="separator-wrap pt-4">	
                                <span class="separator"><span class="separator-line"></span></span>
                            </div>
                            <div class="author-wrap mt-5">	
                                <img  src="https://ivang-design.com/funky-theme/img/t1.jpg" alt="" />
                                <p> by <a href="#">Anna Furius</a></p>
                            </div>
                        </div>	
                    </div>	
                </div>	
            </div>
        </div>
    </div>
</div>

<!-- Nex Prev Block
================================================== -->

<div class="section padding-top-bottom background-grey over-hide">
    <div class="container">
        <div class="row">
            <div class="col-md-12">	
                <div class="project-nav-wrap">
                    <a href="#"><div class="left-nav" data-scroll-reveal="enter left move 60px over 0.7s after 0.1s">old<div class="text-on-hover">older entries</div></div></a>
                    <a href="#"><div class="right-nav" data-scroll-reveal="enter right move 60px over 0.7s after 0.1s">new<div class="text-on-hover">new entries</div></div></a>
                </div>
            </div>
        </div>
    </div>
</div>