.services-box-1.dark {
    border: 1px solid rgba(255, 255, 255, 0.06);
}
.services-box-1 {
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: 0.35rem;
}
.services-box-1 i {
    font-size: 40px;
    color: #6dc234;
}
.services-box-1.dark p, .services-box-1.background-dark p {
    color: #dcdcdc;
}
.services-box-1 .btn-link {
    padding-left: 0;
    color: #6dc234;
}