<div class="section padding-top-bottom-small background-dark over-hide">
    <div class="container-fluid max-width-90 mx-auto">
        <div class="row">		
            <div class="col-lg-6 col-xl-3 align-items-stretch pb-4 py-lg-0">	
                <div class="section justify-content-center">
                    <div class="services-box-1 dark text-center">
                        <i class="funky-ui-icon fa fa-mobile"></i>
                        <h5 class="mt-3 color-white">100% Responsive</h5>	
                        <p class="mt-3 mb-4">Above all good design must primarily serve people.</p>	
                        <a href="#" class="btn-link btn-primary">read more</a>	
                    </div>
                </div>
            </div>		
            <div class="col-lg-6 col-xl-3 align-items-stretch py-4 py-lg-0">	
                <div class="section justify-content-center">
                    <div class="services-box-1 dark text-center">
                        <i class="funky-ui-icon fa fa-th-large"></i>	
                        <h5 class="mt-3 color-white">Bootstrap 4 Grid</h5>	
                        <p class="mt-3 mb-4">Above all good design must primarily serve people.</p>
                        <a href="#" class="btn-link btn-primary">read more</a>		
                    </div>
                </div>
            </div>		
            <div class="col-lg-6 col-xl-3 align-items-stretch py-4 py-lg-4 py-xl-0">	
                <div class="section justify-content-center">
                    <div class="services-box-1 dark text-center">
                        <i class="funky-ui-icon fa fa-th-large"></i>
                        <h5 class="mt-3 color-white">Modal Style</h5>	
                        <p class="mt-3 mb-4">Above all good design must primarily serve people.</p>	
                        <a href="#" class="btn-link btn-primary">read more</a>	
                    </div>
                </div>
            </div>		
            <div class="col-lg-6 col-xl-3 align-items-stretch py-4 py-lg-4 py-xl-0">	
                <div class="section justify-content-center">
                    <div class="services-box-1 dark text-center">
                        <i class="funky-ui-icon fa fa-universal-access"></i>	
                        <h5 class="mt-3 color-white">Support</h5>	
                        <p class="mt-3 mb-4">Above all good design must primarily serve people.</p>
                        <a href="#" class="btn-link btn-primary">read more</a>		
                    </div>
                </div>
            </div>
        </div>	
    </div>	
</div>
