<div class="section padding-top-bottom over-hide">
    <div class="parallax-1" style="background-image: url('https://ivang-design.com/funky-theme/img/parallax-hero-9.jpg')"></div>
    <div class="grey-fade-over"></div>
    <div class="container z-bigger-2">
        <div class="row justify-content-center">
            <div class="col-md-8">	
                <div class="main-title on-dark text-center">
                    <div class="main-subtitle-top mb-4">funky magic</div>
                    <h3>Fabulously Sharp & Intuitive.</h3>
                    <div class="main-subtitle-bottom mt-3">A single place to share, curate and discover visual content that tells a story.</div>	
                </div>
            </div>
        </div>	
    </div>		
</div>