<div class="section padding-top-bottom over-hide">
    <div class="parallax-1" style="background-image: url('https://ivang-design.com/funky-theme/img/parallax-8.jpg')"></div>
    <div class="grey-fade-over"></div>	
    <div class="container z-bigger">
        <div class="row justify-content-center">
            <div class="col-md-8">	
                <div class="main-title on-dark text-center">
                    <div class="main-subtitle-top mb-4">LATEST WORK</div>
                    <h3>We Take Pride In Delivering Only The Best.</h3>
                    <div class="main-subtitle-bottom mt-3">we do magic</div>	
                </div>	
            </div>
        </div>	
    </div>		
</div>