<div class="section padding-top-1st padding-bottom-1st over-hide">
    <div class="parallax" style="background-image: url('https://ivang-design.com/funky-theme/img/parallax-pages-1.jpg')"></div>
    <div class="grey-fade-over"></div>
    <div class="container z-bigger">
        <div class="row">
            <div class="col-md-7 parallax-fade-top">	
                <div class="main-title on-dark text-left mb-0">
                    <h2>Contact Us</h2>
                    <div class="main-subtitle-bottom mt-4">Contact Us for any Query</div>	
                </div>	
            </div>
            <div class="clear"></div>
        </div>		
    </div>	
</div>