<div class="section background-white z-bigger-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 transform-y-120 transform-on-mob">	
                <div class="call-box-3 p-5 dark text-center background-dark rounded-2 drop-shadow">
                    <i class="funky-ui-icon fa fa-users"></i>
                    <h5 class="mt-4 mb-3 color-white">We are hiring, join our team!</h5>
                    <p class="mb-5">Some people think design means how it looks. But of course, if you dig deeper, it's really how it works.</p>
                    <a href="javascript:;" class="btn btn-primary btn-simple btn-round btn-long" >join now</a>
                </div>	
            </div>
        </div>	
    </div>		
</div>