.transform-y-120 {
    transform: translateY(-120px);
}
.call-box-3 i {
    font-size: 3rem;
    line-height: 3rem;
    color: #6dc234;
}
.btn-primary.btn-simple {
    color: #6dc234 !important;
    border: 2px solid #6dc234 !important;
    background-color: transparent !important;
}
.btn-round {
    border-radius: 30px !important;
}
.btn-primary.btn-simple:hover {
    color: #fff !important;
    background-color: #6dc234 !important;
}