<div class="section padding-top background-image-cover-top over-hide footer-1" style="background-image: url('https://ivang-design.com/funky-theme/img/footer-1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>Home concepts</h6>
          <ul class="list-style">
            <li><a href="javascript:;">Digital Agency</a></li>
            <li><a href="javascript:;">Design Studio</a></li>
            <li><a href="javascript:;">App Landing</a></li>
            <li><a href="javascript:;">Personal Portfolio</a></li>
            <li><a href="javascript:;">Home Corporate</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
          <h6>Picked Pages</h6>
          <ul class="list-style">
            <li><a href="javascript:;">Portfolio Grid</a></li>
            <li><a href="javascript:;">Portfolio Masonry</a></li>
            <li><a href="javascript:;">Blog Grid</a></li>
            <li><a href="javascript:;">Careers Listing</a></li>
            <li><a href="javascript:;">Contact Map</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
          <h6>Interesting</h6>
          <ul class="list-style">
            <li><a href="javascript:;">About</a></li>
            <li><a href="javascript:;">Services</a></li>
            <li><a href="javascript:;">Contact</a></li>
            <li><a href="javascript:;">Shop</a></li>
            <li><a href="javascript:;">Create Account</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0 logo-footer-100">
          <img src="https://ivang-design.com/funky-theme/img/logo.png" alt="footer-img" class="mb-5">
          <div class="separator-wrap">	
            <span class="separator"><span class="separator-line dashed"></span></span>
          </div>
          <ul class="list-style mt-3 mb-3">
            <li><i class="fa fa-envelope-o"></i><a href="#">info@example.com</a></li>
            <li><i class="fa fa-phone"></i><a href="#">+41-34-9653-3246</a></li>
            <li><i class="fa fa-skype"></i><a href="#">exampleOnSkype</a></li>
          </ul>
          <div class="separator-wrap">	
            <span class="separator"><span class="separator-line dashed"></span></span>
          </div>
        </div>
    </div>
    </div>	
    <div class="container scd-foot padding-top-small padding-bottom-smaller">
      <div class="row">
        <div class="col-md-6">
          <p>© 2018. Powerd with <i class="fa fa-heart"></i> by <a href="javascript:;" target="_blank">V2 support</a>!</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-social">
            <li class="twitter">
              <a href="javascript:;">Tw</a>
            </li>
            <li class="facebook">
              <a href="javascript:;">Fb</a>
            </li>
            <li class="google">
              <a href="javascript:;">G+</a>
            </li>
            <li class="vimeo">
              <a href="javascript:;">Vm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>	
  </div>
  