<div class="section padding-top-bottom background-white z-bigger-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="grid-filter">
                    <ul class="filter">
                        <li><a href="javascript:;" (click)="activeLearning('all')" [ngClass]="{'active': selectedLearning == 'all'}" class="current">all</a></li>
                        <li><a href="javascript:;" (click)="activeLearning('branding')" [ngClass]="{'active': selectedLearning == 'branding'}">branding</a></li>
                        <li><a href="javascript:;" (click)="activeLearning('photo')" [ngClass]="{'active': selectedLearning == 'photo'}">photo</a></li>
                        <li><a href="javascript:;" (click)="activeLearning('motion')" [ngClass]="{'active': selectedLearning == 'motion'}">motion</a></li>
                    </ul>
                </div>
            </div>
            <div *ngIf="selectedLearning == 'all'" class="grid-wraper clearfix">			
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/1.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">		
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/2.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/9.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/4.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/5.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>		
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/3.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>
                    </a>	
                </div>		
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/6.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">		
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/7.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/8.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>
            </div>
            <div *ngIf="selectedLearning == 'branding'" class="grid-wraper clearfix">
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/5.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>		
                </div>			
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">		
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/2.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/3.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>
                    </a>	
                </div>
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/9.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/1.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>
                </div>
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/4.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	   	
            </div>
            <div *ngIf="selectedLearning == 'photo'" class="grid-wraper clearfix">			
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/1.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/9.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">		
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/2.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
            </div>
            <div *ngIf="selectedLearning == 'motion'" class="grid-wraper clearfix">	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/5.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>		
                </div>		
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/9.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">		
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/2.jpg" alt="" />
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin photo">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/4.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>	
                </div>	
                <div class="grid-box float-inline third with-margin">
                    <a href="javascript:;">
                        <div class="portfolio-box-1 rounded">	
                            <img  src="https://ivang-design.com/funky-theme/img/portfolio/vertical/1.jpg" alt="" />	
                            <div class="portfolio-mask-3 rounded"></div>
                            <h5 class="on-center text-center">serve people</h5>
                            <p class="on-center text-center">design, motion</p>
                        </div>	
                    </a>
                </div>	
            </div>
        </div>	
    </div>		
</div>
