#menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 5000;
    margin: 0 auto;
    top: 0;
    left: 0;
}
.black-menu-background-1st-trans {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    padding-top: 30px;
    padding-bottom: 10px;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small {
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.92);
}
.cbp-af-header.cbp-af-header-shrink .nav-top-bar {
    padding-top: 14px;
    padding-bottom: 5px;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s ease-out;
}
#menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img {
    max-height: 20px;
    transition: all 0.3s ease-out;
}
.nav-top-bar {
    position: relative;
    overflow: hidden;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 0;
    transition: all 0.3s ease-out;
}
.nav-top-bar p {
    letter-spacing: 1px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
.nav-top-bar i{
    color: #6dc234;
}
.nav-top-bar .nav-top-social {
    position: relative;
    z-index: 20;
    float: right;
    display: block;
    margin-bottom: 0;
}
.nav-top-bar .nav-top-social li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.nav-top-bar .nav-top-social li a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    padding-left: 9px;
    transition: all 0.3s ease-out;
}
.colored-prim{
    background-color: #6dc234 !important;
}
.nav-top-bar .nav-top-social li a:before {
    content: '';
    position: absolute;
    height: 4px;
    margin-top: -2px;
    border-radius: 50%;
    width: 4px;
    left: 0;
    top: 50%;
    z-index: 10;
    opacity: 1;
}
.cbp-af-header .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s ease-out;
    padding: 0.8rem 0;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: #fff;
}
.navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
}
#menu-wrap .navbar-brand img {
    display: block;
    max-height: 22px;
    width: auto;
    transition: all 0.3s ease-out;
}
.dropdown.mega-menu {
    position: static;
}
.navbar .nav-item {
    margin-left: 2px;
    margin-right: 2px;
}
.navbar-inverse .navbar-nav .active > .nav-link{
    background-color: rgba(255,255,255,0.2);
}
.navbar-inverse .navbar-nav .active>.nav-link{
    color: #fff;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 1;
    display: block;
    border-radius: 0.125rem;
    padding: 0.8em 1em;
    transition: all 200ms linear;
}
.nav-link:hover {
    background-color: rgba(255,255,255,0.2);
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
.cbp-af-header .navbar .nav-item.mega-menu .dropdown-menu {
    margin-top: 0;
    padding: 0;
}
.dropdown-menu {
    position: absolute;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.15);
    transition: all 150ms linear;
    line-height: 18px;
    font-size: 0.78rem;
    padding: 1rem;
}
.drop-mega-menu {
    position: relative;
    display: block;
    padding: 25px 15px !important;
}
.navbar .dropdown-menu li {
    list-style: none;
}
.drop-mega-menu li {
    position: relative;
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-menu .dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 150ms linear;
    padding-left: 0.6rem;
}
.navbar .nav-item:hover .dropdown-menu {
    display: block;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu .sub-menu-wrap {
    position: relative;
    padding-left: 0;
}
.dropdown-menu .sub-menu-wrap:hover .sub-menu {
    opacity: 1;
    display: block;
    visibility: visible;
    transform: translate3d(0px, 0, 0);
}
.dropdown-menu .sub-menu-wrap .sub-menu.right {
    left: calc(100% - 1px);
}
.dropdown-menu .sub-menu-wrap .sub-menu {
    position: absolute;
    top: -0.8rem;
    opacity: 0;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.15);
    padding: 0.8rem;
    border-radius: 0.125rem;
    transition: all 250ms linear;
    visibility: hidden;
    transform: translate3d(15px, 0, 0);
    list-style: none;
}
.dropdown-menu .sub-menu-wrap:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f105";
    top: 50%;
    right: 5px;
    z-index: 2;
    font-size: 10px;
    color: #888;
    transform: translateY(-50%);
}
.modal {
    z-index: 11000;
    padding: 15px;
}
.cbp-af-header .navbar-toggler {
    padding: 6px 0;
    right: 0;
    border-color: rgba(255,255,255,.1);
    position: absolute;
    top: 11px;
    bottom: auto;
    left: auto;
}
.navbar-toggler {
    cursor: pointer;
    padding: 6px 0.75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0;
}
.navbar-inverse .navbar-toggler-icon {
    position: relative;
    width: 1.5em;
    height: 1px;
    background-color: #fff;
    transition: all 200ms linear;
    background-image: none;
}
.navbar-inverse .navbar-toggler-icon:before, .navbar-inverse .navbar-toggler-icon:after {
    content: '';
    width: 70%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    transition: all 200ms linear;
}
.navbar-inverse .navbar-toggler-icon:before{
    top: -7px;
    left: 0;
    position: absolute;
    z-index: 1;
    transition: all 200ms linear;
}
.navbar-inverse .navbar-toggler-icon:after {
    bottom: -7px;
    right: 0;
}

// media start
@media (min-width: 1200px){
    .drop-mega-menu {
        width: 1110px;
        max-width: 100%;
    }
    }
@media (min-width: 992px){
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-left: .5rem;
    }
    .navbar-toggleable-md {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
.navbar-toggleable-md .navbar-collapse {
    display: flex!important;
    width: 100%;
}
.navbar-toggleable-md .navbar-toggler {
    display: none;
}
.navbar-toggleable-md .navbar-nav {
    flex-direction: row;
}
.drop-mega-menu {
    width: 932px;
    max-width: 100%;
}
}

@media (max-width: 991px){
#menu-wrap {
    position: relative;
    top: auto;
    left: auto;
}
.nav-top-bar {
    display: none;
}
.navbar-inverse .navbar-nav .nav-link{
    margin-left: 0px !important;
}
.menu-fixed-padding-small {
    padding-top: 10px;
    padding-bottom: 10px;
}
.black-menu-background-1st-trans {
    background-color: rgba(0, 0, 0, 1);
}
.nav-line-top {
    border-top: 1px solid rgba(255, 255, 255, 0) !important;
}
#menu-wrap .navbar-brand img, #menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img {
    max-height: 20px;
}
.navbar-nav {
    padding-top: 15px;
}
.dropdown.show .dropdown-menu {
    transition: all 200ms linear;
    box-shadow: none;
    margin-bottom: 20px;
}
.navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu.right {
    left: auto;
    position: relative;
    top: auto;
    opacity: 1;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0);
    padding: 0.8rem;
    border-radius: 0;
    visibility: visible;
    transform: translate3d(0px, 0, 0);
}

}