<div class="section padding-top-bottom background-dark-2 over-hide">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <h4 class="color-white">Strategy Planning</h4>	
                 <p class="lead color-white mt-3 mb-4">The data sources that we use for this type of analysis include customer enquiry data and customer feedback.</p>
                <div class="clear"></div>
                <div class="chart mt-4 mr-3" data-percent="83" data-bar-color="#6dc234">
                    <div class="chart-text">brand</div>
                </div>	
                <div class="chart mt-4 mr-3" data-percent="95" data-bar-color="#6dc234">
                    <div class="chart-text">results</div>
                </div>	
                <div class="chart mt-4 mr-3" data-percent="77" data-bar-color="#6dc234">
                    <div class="chart-text">data</div>
                </div>	
                <div class="chart mt-4" data-percent="86" data-bar-color="#6dc234">
                    <div class="chart-text">analysis</div>
                </div>	
            </div>
            <div class="col-xl-5 mt-5 mt-xl-0" id="progress">
                <div class="progress-container">
                    <span class="progress-badge dark">development</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                            <span class="progress-value"><span class="counter">87</span>%</span>
                        </div>
                    </div>
                </div>		
                <div class="progress-container mt-4">
                    <span class="progress-badge dark">happiness</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="progress-value"><span class="counter">100</span>%</span>
                        </div>
                    </div>
                </div>	
                <div class="progress-container mt-4">
                    <span class="progress-badge dark">design</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%;">
                            <span class="progress-value"><span class="counter">93</span>%</span>
                        </div>
                    </div>
                </div>	
                <div class="progress-container mt-4">
                    <span class="progress-badge dark">marketing</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="progress-value"><span class="counter">78</span>%</span>
                        </div>
                    </div>
                </div>	
                <div class="progress-container mt-4">
                    <span class="progress-badge dark">creativity</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
                            <span class="progress-value"><span class="counter">99</span>%</span> 
                        </div>
                    </div>
                </div>			
            </div>
        </div>	
    </div>		
</div>
