.video-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}
.call-box-5 {
    position: relative;
    padding: 2.6rem;
    border: 5px solid #6dc234;
}
.video-section img {
    max-height: 445px;
    overflow: hidden;
}