.quote-box-1 {
    position: relative;
    width: 100%;
}
.quote-box-1 i {
    font-size: 3rem;
    line-height: 3rem;
    color: #6dc234;
}
.quote-box-1 h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem !important;
    line-height: 2.2rem !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    font-style: italic;
}
.quote-box-1 h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: 500;
}
.quote-box-1 p {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    color: #6dc234;
}