<div class="section padding-top-bottom background-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">	
                <div class="quote-box-1 text-center">
                    <i class="funky-ui-icon icon-Anchor-2"></i>
                    <h5 class="mt-5 mb-5">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
                    <h4>Thomas J. Watson</h4>
                    <p class="mt-2">some magazine</p>
                </div>
            </div>
        </div>	
    </div>		
</div>